.title {
  margin: 20px 0 10px 0;  
  display: flex;
  justify-content: center;
}

.todo-item {
  list-style-type: none;
  background-color: dodgerblue;
  font-size: 1.5rem;
  margin: 20px auto;
  padding: .5rem;
}

.todo-item li {
  color: whitesmoke;
}

ul h3 {
  margin: 20px;
  color: dodgerblue;
}

ul i {  
  cursor: pointer;
}

.todo-list {  
  text-align: center;
}

.input[type=text] {
  background-color: springgreen;
  margin: 20px auto;
  outline: none;
  border: none;
  padding: 0.7em;
  color: #242424;
  width: 100%;
}

.button {
  border: none;
  outline: none;
  background-color: transparent
  ;
}

.fa-check-circle {
  color: whitesmoke;
}

.fa-trash-alt {
  color: whitesmoke;
}
